body{
margin:0;
font-family:Arial,sans-serif;
background:#f5f5f5;
}

header{
background:#ff0080;
padding:20px;
text-align:center;
color:white;
}

nav{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
font-size:20px;
font-weight:bold;
}

#home{
background:#666;
color:white;
text-align:center;
padding:80px 20px;
}

#home h2{
font-size:55px;
}

#home p{
font-size:25px;
}

.btn{
display:inline-block;
padding:15px 30px;
background:white;
color:#ff0080;
text-decoration:none;
border-radius:40px;
margin:15px;
font-size:25px;
}

.whatsapp{
background:#00dd55;
color:white;
}

#gallery{
background:white;
padding:40px 20px;
text-align:center;
}

#gallery h2{
color:#ff0080;
font-size:55px;
}

.gallery-container{
display:grid;
gap:25px;
}

.gallery-container img{
width:100%;
border-radius:20px;
box-shadow:0 0 15px gray;
}

#contact{
background:#f7e8ed;
padding:50px 20px;
text-align:center;
}

#contact h2{
font-size:55px;
color:#ff0080;
}

#contact p{
font-size:25px;
}

.floating-call{
position:fixed;
right:20px;
bottom:140px;
background:#ff0080;
color:white;
padding:20px;
border-radius:50px;
text-decoration:none;
font-size:30px;
}

.floating-whatsapp{
position:fixed;
right:20px;
bottom:40px;
background:#00dd55;
color:white;
width:80px;
height:80px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
text-decoration:none;
font-size:40px;
}
