*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#fff;
color:#333;
}

/* Navbar */

nav{
background:#ff2b85;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:1000;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

/* Hero Section */

header{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero{
color:white;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:25px;
margin-bottom:25px;
}

.btn,.btn2{
display:inline-block;
padding:15px 30px;
border-radius:50px;
text-decoration:none;
margin:10px;
font-size:18px;
}

.btn{
background:white;
color:#ff2b85;
}

.btn2{
background:#25D366;
color:white;
}

/* Sections */

section{
padding:80px 10%;
text-align:center;
}

section h2{
color:#ff2b85;
font-size:40px;
margin-bottom:30px;
}

/* Facilities */

.facility-box p{
background:#fff0f6;
padding:18px;
margin:15px 0;
border-radius:15px;
font-size:20px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

/* Gallery */

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Contact */

#contact{
background:#fff0f6;
}

#contact p{
font-size:20px;
margin:20px 0;
}

/* Map Button */

.map-btn{
display:inline-block;
padding:15px 30px;
background:#ff2b85;
color:white;
text-decoration:none;
border-radius:50px;
margin-top:20px;
}

/* Footer */

footer{
background:black;
color:white;
padding:20px;
text-align:center;
}

/* Floating WhatsApp */

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
width:65px;
height:65px;
background:#25D366;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,.3);
z-index:999;
}

/* Floating Call */

.call-float{
position:fixed;
bottom:100px;
right:20px;
background:#ff2b85;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-size:18px;
box-shadow:0 5px 15px rgba(0,0,0,.3);
z-index:999;
}

/* Mobile */

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
text-align:center;
margin-top:15px;
}

.hero h1{
font-size:35px;
}

.hero p{
font-size:20px;
}

section h2{
font-size:30px;
}

}
